* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(135deg, #8c98ca, #57505e);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container {
border-radius: 20px 0px 20px 0px;
background:linear-gradient(rgb(144, 204, 144),rgb(196, 176, 176),rgb(173, 156, 123),rgb(199, 199, 167),rgb(167, 124, 167));

  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
h1 { 
    text-align: center; 
    margin-bottom: 20px; 
    color: #092581; 
}
.field {
 margin-bottom: 20px; 
}
label { 
    display: block; 
    margin-bottom: 6px; 
    color: #83102d; 
    font-weight: bold;
 }